# ========================================
#   SISTEMA / ARCHIVOS TEMPORALES
# ========================================
.DS_Store
Thumbs.db

# ========================================
#   NPM / NODE
# ========================================
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# ========================================
#   BUILD (p/ futuro, si usás Vite, Webpack, React, etc.)
# ========================================
dist/
build/
.out/
.cache/
.temp/

# ========================================
#   LOGS
# ========================================
*.log
logs/
*.tmp

# ========================================
#   SISTEMAS DE EDICIÓN
# ========================================
.vscode/
.idea/

# ========================================
#   ARCHIVOS DEL SISTEMA OPERATIVO
# ========================================
*.swp
*.swo

# ========================================